
#container {
    margin-right: 50px;
    margin-left: 50px;
    background: #b3ffe6;
    text-align: center;
    
}
#toDoLists{
    margin-right: 50px;
    margin-left: 50px;
    height: 50px;
    background: #b3ffe6;
    text-align: center;
}

#textbox {
    background-color: white; 
}

.listLists{
    list-style-type: none;
    margin-right: 50px;
    margin-left: 50px;
    
    background-color: #b3ffe6;
     
}
.delete{
    float: right;
    height: 18px;
}
